
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #015a3c;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#gameContainer {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #398d6d79;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#description {
    margin-bottom: 20px;
    font-size: 18px;
}

.choices {
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #002418;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #02e6ad85;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }